.two-columns__paragraph{
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
  }
  .two-columns__paragraph:nth-child(2){
    padding-bottom: 30px;
    padding-top: 30px;
  }
  